.card{
    display: inline-block;
    border: 3px solid #eee;
    box-shadow: 0 4px 4px #ccc;
    width: 400px;
    padding : 20px;
    margin: 20px;
    background-color: cyan;
  }

  img {
    width: 200px;
    height: auto;
    object-fit: contain;
    margin-left: 50%;
  }

  .imgwrap{
    width: 200px;
    height: auto;
    text-align: center;
  } 
  
  h1
  {
    color: blue;
    font-size: 200%;
  }

  p
  {
    font-size: large;
  }